html {
    background-color: #f3f3f3;
    font-family: Roboto, Arial, sans-serif;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.export-container {
    display: flex;
    flex-flow: column nowrap;
}
